.advantages {
  width: 100%;
}

.advantages__wrapper {
  margin: 0 auto;
  padding: 28px 30px;
}

.advantages__header {
  margin: 0 0 32px 0;
  padding: 0;
  .font-bold;
  font-size: 25px;
  line-height: 30px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  .font-bold;
  font-size: 17px;
  line-height: 20px;
  padding: 0;
}

.advantages__item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 37px;
  margin-left: -3px;
}

.advantages__item-wrapper svg {
  fill: @base-color;
}

.advantages__item--price svg {
  padding-bottom: 5px;
}

.advantages__item--like svg {
  padding-top: 5px;
}

.advantages__item--handmade svg {
  padding-top: 7px;
  padding-right: 7px;
}

.advantages__item--pack svg {
  padding-top: 8px;
  padding-right: 8px;
}

.advantages__title {
  margin: 17px 0 28px 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    width: 668px;
    padding: 48px 50px 29px;
  }

  .advantages__header {
    margin: 0 0 48px -5px;
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    flex-direction: row;
  }

  .advantages__item {
    width: 50%;
    font-size: 20px;
    line-height: 22px;
  }

  .advantages__item--eco {
    order: 1;
  }

  .advantages__item--handmade {
    order: 2;
  }

  .advantages__item--price {
    order: 3;
  }

  .advantages__item--support {
    order: 4;
  }

  .advantages__item--like {
    order: 5;
  }

  .advantages__item--pack {
    order: 6;
  }

  .advantages__title {
    margin: 17px 0 56px 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    width: 700px;
    padding: 60px 225px 36px;
  }

  .advantages__header {
    font-size: 53px;
    line-height: 57px;
  }
}
