.footer {
  width: 100%;
  background: #f1f1f1;
}

.footer svg {
  display: block;
}

.footer__wrapper {
  height: 160px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1050px;
}

.footer__logo {
  display: none;
}

.social,
.copyright {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  border-bottom: 1px solid #e5e5e5;
}

.social__item:not(:last-child) {
  padding-right: 42px;
}

.copyright__text {
  padding-right: 20px;
  padding-left: 5px;
}

.copyright__link svg {
  width: 35px;
  fill: @base-color;
  opacity: 0.6;
}

.footer__logo-image:hover,
.social__link svg:hover,
.copyright__link svg:hover {
  fill: @base-color;
  opacity: 1;
}

.footer__logo-image:active,
.social__link svg:active,
.copyright__link svg:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    height: 144px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px 0 50px;
  }

  .footer__logo {
    display: block;
    margin-right: 85px;
    margin-top: -10px;
  }

  .social {
    border-bottom: none;
  }
}
