.footer {
  width: 100%;
  background: #f1f1f1;
}

.footer__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  outline: 1px dashed lightgrey;
}

.social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.copyright {
  text-align: center;
}

.copyright__text {
  .font-bold;
  font-size: 19px;
  line-height: 18px;
}
