.form {
  width: 100%;
}

.form__wrapper {
  min-height: 1630px;
  margin: 0 auto;
  padding: 0 30px;
}

.form__text {
  font-size: 13px;
  line-height: 24px;
}

.form__type,
.form__color,
.form__fio,
.form__telephone,
.form__email,
.form__comment {
  border: none;
}

.form__type-title,
.form__color-title,
.form__fio-title,
.form__telephone-title,
.form__email-title,
.form__comment-title {
  .font-bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @base-color;
}

.form__type-list,
.form__color-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__label {
  .font-bold;
  font-size: 17px;
  line-height: 18px;
}

.form__input,
.form__textarea {
  display: block;
  font-size: 17px;
  line-height: 18px;
  color: #cccccc;
}

.form__note {
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  background: none;
}
