.header {
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.header__logo {
  margin: 22px auto;
  padding: 0;
  line-height: 0;
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .header__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 50px;
  }

  .header__logo {
    margin: 21px 0;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .header__logo img {
    width: 113px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .header__wrapper {
    position: relative;
  }

  .header__logo {
    margin: 0;
    position: absolute;
    left: calc(50% - 75px);
    top: 8px;
  }

  .header__logo img {
    width: 149px;
    height: auto;
  }
}
