.header {
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 80px;
  margin: 0 auto;
  padding: 0 30px;
  align-items: center;
  outline: 1px dashed lightgrey;
}

@media (min-width: @tablet-width) {
  .header__wrapper {
    flex-direction: row;
    min-height: 88px;
    padding: 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .header__logo {
    position: absolute;
    left: calc(50% - 30px);
  }
}
