.navigation {
  width: 320px;
  min-height: 320px;
  margin: 0 auto;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  .font-bold;
  font-size: 17px;
  line-height: 24px;
}

.navigation__list a {
  display: block;
  padding: 27px 0 27px 75px;
  border-top: 1px solid #ececec;
}

.navigation__toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
  border: none;
}


.navigation--closed .navigation__toggle:after {
  content: '';
  position: absolute;
  top: 8px;
  right: 5px;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  border: none;
  cursor: pointer;
}
.navigation--opened .navigation__toggle:before,
.navigation--opened .navigation__toggle:after {
  position: absolute;
  top: 13px;
  right: 1px;
  width: 28px;
  height: 2px;
  content: '';
  background-color: #000000;
}

.navigation--opened .navigation__toggle:before {
  transform: rotate(45deg);
}

.navigation--opened .navigation__toggle:after {
  transform: rotate(-45deg);
}

@media (max-width: @mobile-width-only) {
  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--nojs .navigation__toggle {
  display: none;
}

.navigation--nojs .navigation__list {
  display: flex;
}
}

@media (min-width: @tablet-width) {
  .navigation__list {
    flex-direction: row;
  }
}
