.production {
  width: 100%;
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 504px;
  margin: 0 auto;
  padding: 0 50px;
  outline: 1px dashed lightgrey;
}

.production__header {
  margin: 0;
  padding: 0 34px;
  .font-bold;
  font-size: 17px;
  line-height: 24px;
  outline: 1px dashed lightgrey;
}

.production__text-wrapper {
  padding: 0 34px;
}

.production__text {
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .production__image {
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .production__wrapper {
    padding-left: 728px;
  }

  .production__image {
    position: absolute;
    top: 0;
    left: 50px;
  }
}
