.production {
  width: 100%;
}

.production__wrapper {
  min-height: 504px;
  margin: 0 auto;
  padding: 0 30px;
  outline: 1px dashed lightgrey;
}

.production__header {
  margin: 0;
  padding: 0 34px;
  .font-bold;
  font-size: 17px;
  line-height: 24px;
}

.production__text-wrapper {
  padding: 0 34px;
}

.production__text {
  font-size: 13px;
  line-height: 24px;
}
