.reviews {
  width: 100%;
}

.reviews__wrapper {
  min-height: 650px;
  margin: 0 auto;
  padding: 0 30px;
  outline: 1px dashed lightgrey;
}

.reviews__header {
  margin: 0;
  padding: 0;
  .font-bold;
  font-size: 25px;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__author-name {
  .font-bold;
  font-size: 17px;
  line-height: 20px;
  font-style: normal;
}

.reviews__author-link {
  display: block;
  font-size: 17px;
  line-height: 20px;
}
