.reviews {
  width: 100%;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  min-height: 650px;
  margin: 0 auto;
  padding: 0 30px;
  outline: 1px dashed lightgrey;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;
  }
}

.reviews__header {
  margin: 0;
  padding: 0;
  .font-bold;
  font-size: 25px;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .reviews__header {
    order: 1;
    margin-right: auto;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__header {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__text {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .reviews__text {
    order: 3;
    flex-grow: 1;
    font-size: 17px;
  }
}

@media (min-width: @tablet-width) {
  .reviews__author-wrapper {
    order: 4;
    margin-right: auto;
  }
}

.reviews__author-name {
  .font-bold;
  font-size: 17px;
  line-height: 20px;
  font-style: normal;
}

.reviews__author-link {
  display: block;
  font-size: 17px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .reviews__controls {
    order: 5;
  }
}

@media (min-width: @tablet-width) {
  .reviews__write {
    order: 2;
    width: 175px;
  }
}
